.hg{
    color: black;
    background-color: blanchedalmond;
}

.hand h2{
    color: rgb(255, 0, 0);
    font-size: 50px;
    font-family: 'Times New Roman';
    background-color: blue;
}
.new_blog h2{
    background-color: cornsilk;
    color: black;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}